/*Image*/
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.img-10 {
  width: 10%;
}

img.img-20 {
  width: 20%;
}

img.img-30 {
  width: 30%;
}

img.img-40 {
  width: 40%;
}

img.no-border {
  border: 0;
}

/*Code*/
code.red {color:red;}
code.green {color: green;}